#box{
  	padding: 20px; 
}
.ob{
	width: 35%;
  	border: 0px solid gray;
  	border-radius: 10px;
  	box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3);
  	box-sizing: border-box;
  	margin: 10% auto 10% auto ;
}
.tab-header {
    margin: 0 0;
    padding: 0;
}
.p{
	width: 49%
}
.tab-item-link {
    display: block;
    color: black;
    font-weight: 700;
    margin: 10% auto;
}
